.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  padding-top: 110px;
  @media screen and (max-width: $phone-width) {
    padding-top: 80px;
  }

  h1 {
    font-weight: 700;
    line-height: 1.5;
    font-size: 2em;
    @media screen and (max-width: $phone-width) {
      font-size: 1.5em;
    }
  }

  h2 {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5em;
    @media screen and (max-width: $phone-width) {
      font-size: 1.2em;
    }
  }

  h3 {
    font-weight: 700;
    line-height: 1.5;
  }

  strong, b {
    font-weight: 500;
  }

  p, ol, ul, li {
    line-height: 1.7;
    margin-bottom: 30px;
  }

}